img{
    width: 300px;
}


#cabecera{
    font-weight: bold;
}

table {
    width: 100%;
    border: 1px solid #000;
    border-spacing: 0;
 }
th,td {
    width: 25%;
    text-align: center;
    vertical-align:middle;
    border: 1px solid #000;
    border-spacing: 0;
 }

 